@tailwind base;
@tailwind components;
@tailwind utilities;

summary::after {
  content: "";
  width: 20px;
  height: 10px;
  background: url("./assets/arrow.svg");
  background-size: cover;
  transition: 0.2s;
  transform: rotate(180deg);
}

details[open] > summary::after {
  transform: rotate(0deg);
}

